#msg {
    position: absolute;
    bottom: 0;
}

#debug {
    background-color: lightgray;
    color: black;
    font-size: .8em;
    position: absolute;
    bottom: 0;
    display: none;
}

.description {
    font-size: small;
    color: darkorange;
}

td.stat-lejart {
    background-color: chocolate;
}

td.stat-aktiv {
    background-color: chartreuse;
}

td.stat-jovobeli {
    background-color: yellow;
}