#msg {
    position: absolute;
    bottom: 0;
}

#debug {
    background-color: lightgray;
    color: black;
    font-size: .8em;
    position: absolute;
    bottom: 0;
    display: none;
}

.description {
    font-size: small;
    color: darkorange;
}

td.stat-past {
    background-color: chocolate;
}

td.stat-active {
    background-color: chartreuse;
}

td.stat-future {
    background-color: yellow;
}

td.stat-unknown {
    background-color: lightgrey;
}

body.hatter {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

#vers-div {
    font-size: 26px;
    color: black;
    margin: 100px auto 80px auto;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    background: url(../img/background.jpeg) no-repeat center center;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
}

div.status-msg {
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
}

h1 {
    font-size: 150%;
    color: darkred;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

h2 {
    margin: 10px 0 10px 0;
}

#user-info {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: darkred;
    color: white;
    border-radius: 4px;
}